# Anáisis de las 4 categorías de fuentes

In [48]:
%matplotlib inline

In [49]:
import pandas as pd

## 4FGL Log(parabola) UnIDs With Name

In [50]:
# Ruta del archivo
file_path = "../data/raw/4FGL_catalog_logparabola_unids_with_name.txt"

# Cargar el archivo omitiendo la primera fila incorrecta
df = pd.read_csv(file_path, sep='\s+', skiprows=1)

In [51]:
# Convertir columnas numéricas
num_cols = ["Beta", "Beta_err", "E_peak[GeV]", "det_sig", "curv_sig"]
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce')

print(df.dtypes)  # Verificar cambios

Beta           float64
Beta_err       float64
E_peak[GeV]    float64
det_sig        float64
curv_sig       float64
source_name     object
dtype: object

In [52]:
df.to_csv("../data/processed/4FGL_catalog_clean.csv", index=False)

In [53]:
print('Primeras filas del archivo:')
df.head()

Primeras filas del archivo:

     Beta  Beta_err  E_peak[GeV]  det_sig  curv_sig   source_name
0  0.0897    0.1463      2.51290   7.3996     0.621  J0000.3-7355
1  0.4163    0.3209      1.47820   5.4150     2.151  J0003.3+2511
2  0.6783    0.2518      1.59640  10.7909     4.497  J0003.6+3059
3  0.2771    0.1742      0.93095   7.6056     2.323  J0004.0+5715
4 -0.0270    0.0687   3978.00000   6.4159     0.357  J0004.4-4001

In [54]:
print('\nEstadísticas del archivo:')
df.describe()

Estadísticas del archivo:

/Users/martacaninoromero/.pyenv/versions/3.11.6/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

              Beta     Beta_err  E_peak[GeV]     det_sig     curv_sig
count  1323.000000  1260.000000  1323.000000  1323.00000  1323.000000
mean      0.338895     0.174923          inf     8.00837     2.860281
std       0.287891     0.203454          NaN     5.30963     2.086471
min      -0.144400     0.000900     0.000000     4.05560     0.000000
25%       0.114450     0.089575     0.415135     5.06475     1.269500
50%       0.285700     0.133250     0.930950     6.31170     2.526000
75%       0.507450     0.210650     2.334100     8.78010     3.987000
max       1.000000     4.257400          inf    50.30830    14.871000