# Caracter칤sticas de Entrada (features) / Variables Independientes

## E_peak, Beta, Beta_rel, Sigma_d

In [112]:
%matplotlib inline

In [113]:
import pandas as pd

In [ ]:
# Definir nombres de las columnas
columnas = ['E_peak', 'beta', 'sigma', 'beta_Rel', 'astro_DM']

# Cargar los datos
df = pd.read_csv('XY_bal_log_Rel.txt', sep="\s+", names=columnas, engine='python', skiprows=1)

In [ ]:
# Ver los primeros valores para verificar la estructura
print("游댳 Primeras filas del DataFrame:")
print(df.head())

游댳 Primeras filas del DataFrame:
                E_peak                     beta               sigma  \
0               E_peak                     beta               sigma
1  -0.4125023068520127      -1.3251388592621884  1.3569508561312753
2   0.7081403453880487  -0.00017375254558756316  0.6231665597600842
3  0.22474019006054397      -0.5812017094096464  1.0100411689718056
4  0.25731851309763853      -0.5619325495465062   0.615413424407249

               beta_Rel      astro_DM
0              beta_Rel  0,1=astro,DM
1  -0.12219292462561837           0.0
2   -1.6018862387823747           0.0
3   -0.3112491608456672           0.0
4  -0.03891311649527738           0.0

游댳 Tipos de datos detectados:
E_peak      object
beta        object
sigma       object
beta_Rel    object
astro_DM    object
dtype: object

In [ ]:
# Convertir las columnas a tipo num칠rico, eliminando valores err칩neos
for col in ['E_peak', 'beta', 'sigma', 'beta_Rel', 'astro_DM']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Eliminar valores NaN que puedan haberse generado
df = df.dropna()

# Verificar si `E_peak` y `beta` tienen valores negativos
print("\n游댳 Cantidad de valores negativos en `E_peak`:", (df['E_peak'] < 0).sum())
print("游댳 Cantidad de valores negativos en `beta`:", (df['beta'] < 0).sum())

In [ ]:
# Aplicar transformaci칩n si los datos est치n en `ln` en lugar de `log10`
if (df['E_peak'] < 0).sum() > 0 or (df['beta'] < 0).sum() > 0:
    print("\n丘멆잺  Advertencia: Los valores de `E_peak` y `beta` incluyen negativos. Asumiendo que est치n en `ln`, aplicando `exp()` antes de `log10`.")
    df['E_peak'] = np.exp(df['E_peak'])  # Convertir de ln a escala normal
    df['beta'] = np.exp(df['beta'])  # Convertir de ln a escala normal

In [117]:
# Muestra aleatoria de 5 filas
df.sample(5)

,E_peak,beta,sigma,beta_Rel,astro_DM
3513,1.4734869700645683,-0.1942952955661356,0.8421722293856158,-0.005881873440544588,1
2731,-0.10002637286417146,-0.13365357725039825,1.9990687434875933,-1.5588503848363888,0
564,1.3873364261933372,-0.9986990669795819,1.2045540601352434,-0.24848450183214668,0
1904,-0.7833855144987226,-0.5723516288130673,1.0856722470326412,-0.43157471670165737,0
4038,0.43743344379797117,-0.12482294018529605,0.7158362751649938,-0.17317758492506716,1

In [118]:
# Ver estad칤sticas generales (valores m칤nimos, m치ximos, media, desviaci칩n estandar, etc.)
print("Estad칤sticas descriptivas:")
df.describe()

Estad칤sticas descriptivas:

          astro_DM
count  5662.000000
mean      0.500000
std       0.500044
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [119]:
# Ver los valores de correlaci칩n entre variables
print("Matriz de correlaci칩n entre variables:")
df.corr()

Matriz de correlaci칩n entre variables:

            E_peak      beta     sigma  beta_Rel  astro_DM
E_peak    1.000000  0.108252 -0.116761  0.355409  0.662491
beta      0.108252  1.000000 -0.106935 -0.294714  0.280305
sigma    -0.116761 -0.106935  1.000000 -0.347368 -0.143709
beta_Rel  0.355409 -0.294714 -0.347368  1.000000  0.329702
astro_DM  0.662491  0.280305 -0.143709  0.329702  1.000000

In [ ]:
# Aplicar logaritmo
df = df[(df['E_peak'] > 0) & (df['beta'] > 0)]  # Filtrar valores negativos antes de `log10`
df['log_E_peak'] = np.log10(df['E_peak'])
df['log_beta'] = np.log10(df['beta'])

游댳 Se eliminaron 5662 filas debido a valores negativos o cero en `E_peak` o `beta`.

# Gr치ficos

## Gr치fico 洧냦 peak vs  (beta-plot)
Separa distintas clases de fuentes seg칰n sus caracter칤sticas espectrales y muestra c칩mo se distribuyen las fuentes astrof칤sicas y de materia oscura en este espacio.