# Características de Entrada (features) / Variables Independientes

## E_peak, Beta, Beta_rel, Sigma_d

In [122]:
%matplotlib inline

In [123]:
import pandas as pd

In [124]:
# Definir nombres de las columnas
columnas = ['E_peak', 'beta', 'sigma', 'beta_Rel', 'astro_DM']

# Cargar los datos
df = pd.read_csv('XY_bal_log_Rel.txt', sep="\s+", names=columnas, engine='python', skiprows=1)

In [125]:
# Ver los primeros valores para verificar la estructura
print("🔹 Primeras filas del DataFrame:")
print(df.head())

🔹 Primeras filas del DataFrame:
     E_peak      beta     sigma  beta_Rel  astro_DM
0 -0.412502 -1.325139  1.356951 -0.122193       0.0
1  0.708140 -0.000174  0.623167 -1.601886       0.0
2  0.224740 -0.581202  1.010041 -0.311249       0.0
3  0.257319 -0.561933  0.615413 -0.038913       0.0
4  0.326110 -1.100179  1.624932 -0.528753       0.0

In [126]:
# Convertir las columnas a tipo numérico, eliminando valores erróneos
for col in ['E_peak', 'beta', 'sigma', 'beta_Rel', 'astro_DM']:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Eliminar valores NaN que puedan haberse generado
df = df.dropna()

# Verificar si `E_peak` y `beta` tienen valores negativos
print("\n🔹 Cantidad de valores negativos en `E_peak`:", (df['E_peak'] < 0).sum())
print("🔹 Cantidad de valores negativos en `beta`:", (df['beta'] < 0).sum())

🔹 Cantidad de valores negativos en `E_peak`: 1556
🔹 Cantidad de valores negativos en `beta`: 5654

In [127]:
# Aplicar transformación si los datos están en `ln` en lugar de `log10`
if (df['E_peak'] < 0).sum() > 0 or (df['beta'] < 0).sum() > 0:
    print("\n⚠️  Advertencia: Los valores de `E_peak` y `beta` incluyen negativos. Asumiendo que están en `ln`, aplicando `exp()` antes de `log10`.")
    df['E_peak'] = np.exp(df['E_peak'])  # Convertir de ln a escala normal
    df['beta'] = np.exp(df['beta'])  # Convertir de ln a escala normal

⚠️  Advertencia: Los valores de `E_peak` y `beta` incluyen negativos. Asumiendo que están en `ln`, aplicando `exp()` antes de `log10`.

In [128]:
# Muestra aleatoria de 5 filas
df.sample(5)

        E_peak      beta     sigma  beta_Rel  astro_DM
5039  6.230750  0.422044  0.677698  0.336133       1.0
1460  0.200839  0.329698  0.709567  0.308785       0.0
5345  7.446527  0.599118  0.956265  0.454503       1.0
1303  0.970832  0.576471  1.172276 -0.514167       0.0
1845  1.303624  0.751447  1.004966 -0.453459       0.0

In [129]:
# Ver estadísticas generales (valores mínimos, máximos, media, desviación estandar, etc.)
print("Estadísticas descriptivas:")
df.describe()

Estadísticas descriptivas:

            E_peak         beta        sigma     beta_Rel     astro_DM
count  5662.000000  5662.000000  5662.000000  5662.000000  5662.000000
mean      8.815194     0.477735     1.061131    -0.061574     0.500000
std      15.060537     0.185320     0.357026     0.478845     0.500044
min       0.002707     0.074121     0.608098    -3.198657     0.000000
25%       0.916897     0.334932     0.778414    -0.301915     0.000000
50%       2.419036     0.447057     0.973677    -0.045029     0.500000
75%      10.002327     0.604734     1.254676     0.287035     1.000000
max     371.854311     1.000000     2.899104     1.866966     1.000000

In [130]:
# Ver los valores de correlación entre variables
print("Matriz de correlación entre variables:")
df.corr()

Matriz de correlación entre variables:

            E_peak      beta     sigma  beta_Rel  astro_DM
E_peak    1.000000 -0.111144 -0.069624  0.368473  0.432350
beta     -0.111144  1.000000 -0.116798 -0.266054  0.267154
sigma    -0.069624 -0.116798  1.000000 -0.347368 -0.143709
beta_Rel  0.368473 -0.266054 -0.347368  1.000000  0.329702
astro_DM  0.432350  0.267154 -0.143709  0.329702  1.000000

In [131]:
# Aplicar logaritmo
df = df[(df['E_peak'] > 0) & (df['beta'] > 0)]  # Filtrar valores negativos antes de `log10`
df['log_E_peak'] = np.log10(df['E_peak'])
df['log_beta'] = np.log10(df['beta'])

# Gráficos

## Gráfico 𝐸 peak vs β (beta-plot)
Separa distintas clases de fuentes según sus características espectrales y muestra cómo se distribuyen las fuentes astrofísicas y de materia oscura en este espacio.

In [ ]:
plt.figure(figsize=(8,6))
sns.scatterplot(data=df, x='log_E_peak', y='log_beta', hue='astro_DM', alpha=0.7, palette=['blue', 'red'])
plt.xlabel(r'$\log_{10}(E_{peak})$')
plt.ylabel(r'$\log_{10}(\beta)$')
plt.title('Beta-plot en escala logarítmica')
plt.legend(title="Clase", labels=["Astro", "DM"])
plt.show()